.container {
  width: 280px;
  color: #314d3e;
  padding: 16px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 14px;
  padding: 8px;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}

.bookmarks {
  margin: 5px 5px;
  padding: 3px;
}

.beautiful-button {
  background-color: rgb(0, 128, 96);
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.beautiful-button:hover {
  background-color: dark purple;
  cursor: pointer;
}
